@import url("https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");
body {
  font-family: "Cutive Mono", monospace;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em; }

#footer {
  font-size: 0.8em;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #footer p {
    display: flex; }

.sc-bdVaJa {
  caret-color: #fbf1c7; }

.main {
  width: 70%;
  margin: auto; }

.project-card {
  margin: auto; }
  .project-card fieldset {
    border: 1px solid black; }
  .project-card div {
    margin: auto;
    text-align: center;
    width: 50%; }
  .project-card .content {
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    display: flex; }
  .project-card p {
    margin: 1vw; }
  .project-card img {
    width: 30vw; }

#term-container {
  width: 50vw;
  margin: auto;
  text-align: center; }
  #term-container h4 {
    margin: 0; }
  #term-container h5 {
    margin-top: 0;
    margin-bottom: 4vh; }

#page-container {
  width: 70vw;
  margin: 10vh auto; }

.terminalContainer {
  text-align: left;
  overflow-y: hidden !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px; }

nav {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  nav #title {
    font-size: 5vh;
    font-weight: bold;
    opacity: 1; }
  nav a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 0.3em;
    transition: 0.2s; }
    nav a:hover {
      text-decoration: none;
      opacity: 0.4; }
  nav li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 4em; }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#resume {
  margin-top: 5vh;
  display: flex; }
  #resume button {
    background: #FEFEFE;
    margin: auto;
    border: 3px solid black;
    display: inline-block;
    color: black;
    padding: 0.5em;
    transition: 0.3s;
    font-family: "Cutive Mono", monospace;
    font-size: 1.5em; }
    #resume button:hover {
      background: black;
      color: white; }

.main {
  animation: fadein 2s; }
  .main .title-bar h1 {
    font-family: "Cutive Mono", monospace;
    text-align: center;
    color: black;
    margin-bottom: 0; }
  .main .title-bar h3 {
    text-align: center;
    opacity: 0.5;
    font-size: 2vh;
    margin-top: 0; }
  .main #languages {
    width: 100%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center; }
    .main #languages p {
      text-align: center;
      margin: 0; }
  .main .container {
    display: flex;
    flex-direction: row;
    min-width: 500px;
    margin: auto;
    width: 70%; }
    .main .container div {
      width: 100%; }
    .main .container h2 {
      font-size: 1.2em;
      margin-bottom: 0; }
    .main .container h3 {
      font-size: 0.8em;
      opacity: 0.6;
      margin-top: 0; }
    .main .container h4 {
      margin-top: 0;
      color: black; }
  .main .col {
    display: flex;
    width: 50%;
    flex-direction: row;
    padding: 1vw; }
  .main p {
    color: black;
    text-align: justify; }

h1, h2, h3, h5, h6 {
  color: black; }

h1 {
  font-size: 2.5em;
  color: black; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }
