// Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// Partials (files starting with _) can be inclued using @import:
// (import path can include _ but it is not needed)

// @import 'profile';

// You can use any sass features, like variables, for instance:
@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
$font-stack: 'Cutive Mono', monospace;
$title-font: 'Cutive Mono', monospace;
$subtitle-font: 'Quicksand', sans-serif;
$base-font-size: 1.125em;

body {
  font-family: $font-stack;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  line-height: 1.5em;
}

#footer {
	font-size: 0.8em;
	padding-left: 2vw;
	padding-right: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	p {
		display: flex;
	}
}
// terminal carret color
.sc-bdVaJa {
	caret-color: #fbf1c7;
}

.main {
	width: 70%;
	margin: auto;
}

.project-card {

	margin: auto;

	fieldset {
		border: 1px solid black;
	}

	div {
		margin: auto;
		text-align: center;
		width: 50%;
	}
	.content {
		margin: 0;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		display: flex;
	}

	p {
		margin: 1vw;
	}

	img {
		width: 30vw;
	}
}
#term-container {
	width: 50vw;
	margin: auto;
	text-align: center;
	h4 {
		margin: 0
	}

	h5 {
		margin-top: 0;
		margin-bottom: 4vh;
	}
}
#page-container {
	width: 70vw;
	margin: 10vh auto;
}
.terminalContainer {
	text-align: left;
	overflow-y: hidden !important;
	box-shadow: 3px 3px 5px  rgba(0, 0, 0, .5);
	border-radius: 2px;
}
nav {
	margin-left: 10vw;
	margin-right: 10vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	#title {
		font-size: 5vh;
		font-weight: bold;
		opacity: 1;
	}

	a {
		text-decoration: none;
		color: black;
		opacity: 0.7;
		font-size: 0.3em;
		transition: 0.2s;

		&:hover {
			text-decoration: none;
			opacity: 0.4;
		}

	}

	li {
		list-style-type: none;
		margin: 0 2vw;
		font-size: 4em;
		
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#resume {
	margin-top: 5vh;
	display: flex;

	button {
		background: #FEFEFE;
		margin: auto;
		border: 3px solid black;
		display: inline-block;
		color: black;
		padding: 0.5em;
		transition: 0.3s;
		font-family: $font-stack;
		font-size: 1.5em;

		&:hover {
			background: black;
			color: white;
		}
	}

}

.main {
	animation: fadein 2s;
	.title-bar {
		h1 {
			font-family: $title-font;
			text-align: center;
			color: black;
			margin-bottom: 0;
		}

		h3 {
			text-align: center;
			opacity: 0.5;
			font-size: 2vh;
			margin-top: 0;
		}
	}


	#languages {
		width: 100%;
		margin: auto;
		margin-top: 10vh;
		display: flex;
		flex-direction:  row;
		justify-content: space-between;
		text-align: center;

		p {
			text-align:center;
			margin: 0;
		}
	}

	.container {
		display: flex;
		flex-direction: row;
		min-width: 500px;
		margin: auto;
		width: 70%;

		div {
			width: 100%;
		}

		h2 {
			font-size: 1.2em;
			margin-bottom: 0;
		}
		h3 {
			font-size: 0.8em;
			opacity: 0.6;
			margin-top: 0;
		}

		h4 {
			margin-top: 0;
			color: black;
		}
	}
	.col {
		display: flex;
		width: 50%;
		flex-direction: row;
		padding: 1vw;
	}

	p {
		color: black;
		text-align: justify;
	}
}

h1, h2, h3, h5, h6 {
  color:black;
}

h1 {
  font-size: $base-font-size + 1.375;
  color: black;
}

h2 {
  font-size: $base-font-size + 0.875;
}

h3 {
  font-size: $base-font-size + 0.125;
}
